body {
    background-color: lightGray;
}

ul {
    list-style-type: none;
    margin-top: auto: 0;
    padding-left: 80px
}

h1 {
    color: black;
    text-align: center;
    border-style:solid;
    border-color: black;
    margin-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    border-style:solid;
}

.navbar text {
    background-color: #333;
    overflow: hidden;
    position: center;
    width: 80%;
    padding-top:40px
  }

h2{
  text-decoration: underline;
  font-weight: bold;
  padding-left: 60;
}

.first-paragraph {
    font-family: verdana;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

section {
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin-bottom: 100px;
    border-style:solid;
    border-color: black;
}
.info {
  margin-top: 30px;
  padding: 10px;
}
