body {
  background-color: black;
  padding-top:50px;
  padding-bottom: 100px;
}

#header h1 {
  background-color: pink;
  text-align: center;
  font-size: 50px;
  font-family: "Arial Black",sans-serif;
  font-weight: bolder;
  padding-bottom:40px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 40px;
}

li a:hover {
    background-color: pink;
    padding-top: 50px;
}

.navpage{
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
#Subscribe{
  color:black;
  text-align: center;
  padding-right: 40px;
}




ul {
    list-style-type: none;
    margin: 30;
    padding-bottom:60px;
    overflow: hidden;
    background-color: #black;
    top: 0;
    width: 100%;
}

li {
    float:right;
    float:left;
    padding-right: 100px;
    padding-bottom:50px;
    font-weight: bold;
    font-family: sans-serif;
}

li a {
    display: block;
    color: white;
    text-align:justify;
    padding: 14px 16px;
    text-decoration: none;
}



#borderimg {
  border: 10px solid transparent: pink;
  padding: 25px;
  background-color: pink;
}

.katherine p {
  font-size: 30px;
  text-align:center;
  font-weight:bold;
  font color:pink;
  background-color: pink;
  padding-bottom: 50px;
}

.Ada p {
  font-size: 30px;
  text-align:center;
  font-weight:bold;
  background-color: pink;
  padding-bottom: 50px;
}

.Grace p {
  font-size: 30px;
  text-align:center;
  font-weight:bold;
  background-color: pink;
  padding-bottom: 50px;
}

#footer-spacer {
    height: 6px;
    padding-top: 50px;
    padding-bottom: 100px;
}
#footer {
  background-color:pink;
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: auto;
}

.blockquote {
background-color: pink;
font-family: sans-serif;
font-weight: bold;
}
