body {
  background-color: lightblue;
}

.header {
  background-color: black;
  text-align: center;
  padding: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

#borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 round;
}


li a {
  display: block;
  color: white;
  text-align: center;
  text-align: left;
  text-align: right;
  padding: 24px 36px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

footer {
  background-color: black;
}
